{% extends 'registration/base.html' %}{% load bootstrap4 %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      {% if form.errors %}
      {{ form.errors }}
      {% endif %}
      <div style="max-width:380px;">
        <form action="/accounts/signup" class="bg-white border py-4 px-5" method="post" novalidate>
            {% csrf_token%}
          <div class="text-center mb-3">
          <div class="heading"></div>
            <p class="text-muted fw-bold">
              Sign up to see photos and videos from your friends.
            </p>
          </div>
          <div class="mb-3">
            <button class="login-button" href="#"><i class="fa fa-facebook-square"></i> Log in with facebook</button>
            <p class="my-3 text-center or">
              OR
            </p>
          </div>
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="mb-2">
          <button class="login-button" href="/account/signup" type="submit">Sign Up</button>
           <input type="hidden" name="next" value="{{next}}">
          </div>
          <div class="small text-center">
            By signing up, you agree to our Terms , Data Policy and Cookies Policy.
          </div>
        </form>
        <div class="bg-white py-4 px-5 text-center border mt-4">
          <p class="m-0">
            Have an account? <a href="{% url 'login' %}">Log In</a>
          </p>
        </div>
        <p class="text-center mt-4">Get the app</p>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 mb-2">
                <img src="{% static 'images/logo1.png' %}" alt="" width="100%" class="download">
            </div>
            <div class="col-md-5 mb-2">
                <img src="{% static 'images/logo2.png' %}" alt="" width="100%" class="download">
            </div>
            <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
