{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %} {{block.super}}
{% include 'navbar.html' %}
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/profile-pic.png" alt=""></div>
                    <p class="username">AndrewIndeche</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/gadgetworld.png" alt=""></div>
                    <p class="username">GadgetWorld</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/ibk.png" alt=""></div>
                    <p class="username">ImportsbyKairo</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/ja.png"  alt=""></div>
                    <p class="username">_adero</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/bmk.png" alt=""></div>
                    <p class="username">bigmankicks</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/sg.png"  alt=""></div>
                <p class="username">smartgymske</p>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="{{ user.profile.profile_picture.url }}"  alt=""></div>
                        <p class="username">{{ user.username }}</p>
                    </div>
                    <img src="img/option.PNG" class="options" alt="">
                </div>
                <img src="img/cover 1.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="img/like.PNG" class="icon" alt="">
                        <img src="img/comment.PNG" class="icon" alt="">
                        <img src="img/send.PNG" class="icon" alt="">
                        <img src="img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">{{post.comments.count}} likes</p>
                    <p class="description"><span>{{ user.username }}</span>{{ user.username }} </p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="img/smile" class="icon" alt="">
                    <input type="text" class="comment-box"  placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            </div>
<section class="main">
    <div class="wrapper">
        <div class="right-col">
            <div class="profile-card">
                    <div class="profile-pic">
                    <img src="{{ user.profile.profile_picture.url }}"  alt="">
                </div>
                <div>
                    <p class="username">{{ user.username }}</p>
                    <p class="sub-text">{{ user.username }}</p>
                </div>
                <a href="{% url 'profile' %}">
                <button class="action-btn">switch</button>
                  </a>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/profile1.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Frank_Mtetezi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/sb.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Paul Chege</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/drake1.jpeg" alt="">
                </div>
                <div>
                    <p class="username">ChampagnePapi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/lt.jpg" alt="">
                </div>
                <div>
                    <p class="username">Lil Tunechi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/kn.jpg"  alt="">
                </div>
                <div>
                    <p class="username">Albert Kaniaro</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
