{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %} {{block.super}}
{% include 'navbar.html' %}
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/profile-pic.png" alt=""></div>
                    <p class="username">AndrewIndeche</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/gadgetworld.png" alt=""></div>
                    <p class="username">GadgetWorld</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/ibk.png" alt=""></div>
                    <p class="username">ImportsbyKairo</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/ja.png"  alt=""></div>
                    <p class="username">_adero</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/bmk.png" alt=""></div>
                    <p class="username">bigmankicks</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="/static/img/sg.png"  alt=""></div>
                <p class="username">smartgymske</p>
            </div>
        </div>
    </div>
</section>
<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post">
                <div class="info">
                        <div class="user">
                        <div class="profile-pic"><img src="{{ user.profile.profile_picture.url }}" alt=""></div>
                        <p class="username">{{ user.username }}</p>
                    </div>
                  </div>
                <img src="/static/img/bmw.png" class="post-image" alt="">

                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="/static/img/like.png" class="icon" alt="">
                        <img src="/static/img/comment.png" class="icon" alt="">
                        <img src="/static/img/send.png" class="icon" alt="">
                        <img src="/static/img/save.png" class="save icon" alt="">
                    </div>
                    <p class="likes">{{post.comments.count}} likes</p>
                    {% for item in images %}
                    <p class="description"><span>{{ item.user.username }}</span>{{ item.user.username }} </p>
                    <p class="post-time">1 minutes ago</p>
                    {{comments_set.all|length }} Comment(s)
                    <ul style="list-style-type: none">
                      {% for comment in item.comment_set.all %}
                      <li> {{comment.comments}} </li>
                        {% endfor %}
                      {% endfor %}
                  </ul>
                  </div>
                <form action="url 'comments' image_id=item.id "  novalidate enctype="multipart/form-data"   method="post">
                 {% csrf_token %}
                 {% bootstrap_form Form%}
                  <button class="comment-btn" input type="submit" value="Post Comment">post</button>
                  </form>

            </div>
            </div>
<section class="main">
    <div class="wrapper">
        <div class="right-col">
            <div class="profile-card">
                    <div class="profile-pic">
                    <img src="{{ user.profile.profile_picture.url }}"   alt="{{image.user.user.username}}">
                </div>
                <div>
                    <p class="username">{{ user.username }}</p>
                    <p class="sub-text">{{ user.username }}</p>
                </div>
                <a href="{% url 'profile' %}">
                <button class="action-btn">switch</button>
                  </a>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/profile1.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Frank_Mtetezi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/sb.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Paul Chege</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/drake1.jpeg" alt="">
                </div>
                <div>
                    <p class="username">ChampagnePapi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/lt.jpg" alt="">
                </div>
                <div>
                    <p class="username">Lil Tunechi</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="/static/img/kn.jpg"  alt="">
                </div>
                <div>
                    <p class="username">Albert Kaniaro</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
