{% extends 'base.html' %}
{% block content %}
{% load static %}
<nav class="navbar">
    <div class="nav-wrapper">
        <img src="/static/images/insta.png" class="brand-img" alt="">
       <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="/static/images/ic1.png" class="icon" alt="">
            <img src="/static/images/messe.png" class="icon" alt="">
            <img src="/static/images/newpost.png" class="icon" alt="">
            <img src="/static/images/explore.png"class="icon" alt="">
            <img src="/static/images/like.png" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>
{% endblock %}
